.guarantees {
  background-color: #0089cd;
}

.container {
  background-color: #0089cd;
  text-align: center;
  width: 428px;
  margin: 0 auto;
  padding: 40px 20px;
}

.guarantees_title {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 40px;
}

.guarantees_title::after {
  content: '';
  display: block;
  width: 80px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
  transition: width 500ms ease;
}

.guarantees_title:hover::after {
  width: 60%;
}

.guarantees_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}

.guarantees_block {
  width: 190px;
  transition: transform 0.3s ease-in-out;
}

.guarantees_block img {
  height: 50px;
  margin: 0 auto;
}

.guarantees_block:hover {
  transform: translateY(-5px);
}

.guarantees_block h3 {
  font-size: 16px;
  color: #fff;
  width: 170px;
  margin: 0 auto;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 60px 20px;
  }

  .guarantees_title {
    font-size: 30px;
  }

  .guarantees_block {
    width: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1160px;
  }

  .guarantees_block {
    width: 350px;
  }
}
