.container {
  text-align: center;
  padding: 60px 20px;
  background-color: #0089cd;
}

.guarantees_title {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}

.guarantees_title::after {
  content: '';
  display: block;
  width: 80px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
  transition: width 500ms ease;
}

.guarantees_title:hover::after {
  width: 60%;
}

.guarantees_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 20px;
}

.guarantees_block {
  width: 400px;
  /* border: red solid 2px; */
  transition: transform 0.3s ease-in-out;
}

.guarantees_block img {
  height: 50px;
}

.guarantees_block:hover {
  transform: translateY(-5px);
}

.guarantees_block h3 {
  font-size: 16px;
  color: #fff;
  width: 170px;
  margin-top: 10px;
}
