.container {
  background-color: #fff;
  padding: 40px 20px;
}

.gatalog_header {
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.gatalog_header::after {
  content: '';
  display: block;
  width: 80px;
  height: 2px;
  background-color: #3498db;
  position: absolute;
  left: 50%;
  top: 35px;
  transform: translateX(-50%);
  transition: width 500ms ease; /* Анімація збільшення/зменшення ширини лінії */
}

.gatalog_header:hover::after {
  width: 60%; /* Збільшити ширину лінії при наведенні курсору */
}
