@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.image_container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.fade_in_image {
  width: 100%;
  height: auto;
  animation: fadeIn 3s ease-in-out;
}
