.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 60px 20px;
  background: #ffffff url(../../assets/images/hero/background.png) 0 0 no-repeat;
  background-size: cover;
}

.title {
  font-size: 42px;
  width: 550px;
  color: #0089cd;
}

.advantages {
  display: flex;
  gap: 80px;
  align-items: center;
}

.advantages_block {
  position: relative;
  transition: transform 300ms ease-in-out;
  cursor: pointer;
}

.advantages_block:hover {
  transform: translateY(-5px);
}

.advantages_text {
  font-size: 16px;
  font-weight: 700;
  color: white;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  margin: 15px 0 auto;
}
