.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 60px 20px;
  background: #ffffff url(../../assets/images/hero/background.png) 0 0 no-repeat;
  background-size: cover;
}

.title {
  font-size: 36px;
  width: 550px;
  color: #333333;
}

.advantages {
  display: flex;
  gap: 40px;
}

.advantages_block {
  position: relative;
}
.advantages_img {
}

.advantages_text {
  font-size: 16px;
  color: #333333;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.main_features_block {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.main_features_block:hover {
  transform: translateY(-5px);
}
