.header {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* Логотип */
.logo_block {
  display: flex;
  row-gap: 10px;
  width: 450px;
}

.logo_link {
  color: #0089cd;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  transition: color 1000ms;
  margin: auto;
}

.logo_link:hover {
  color: #45a049;
}

.logo_text {
  margin: 0 auto;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #708696;
}

/* Кнопка "Викликати замірника" */

.button {
  background: url(../../assets/images/header/edit.png) 10px center no-repeat;
  color: #45a049;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  padding-left: 60px;
  border: 2px solid #55a831;
  border-radius: 10px;
  cursor: pointer;
  transition: color 300ms, border 300ms;
}

.button:hover {
  color: #0089cd;
  border: 2px solid #0089cd;
}

/* Графік роботи */
.working_hours {
  display: flex;
  align-items: center;
}

.working_text {
  margin: 0 auto;
  margin-left: 10px;
  font-size: 16px;
  color: #555;
}

.working_hours span {
  display: block;
  margin-top: 5px;
  font-weight: bold;
  color: #4caf50;
}

/* Контакти */
.contact {
  display: flex;
  flex-direction: column;
}

.contact_phone {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.contact_phone img {
  margin-right: 10px;
}

.phone_link {
  font-size: 18px;
  color: #0089cd;
  margin-left: 33px;
}
