.header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тінь хедера */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* Логотип */
.logo_block {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 230px;
}

.logo_link {
  color: #0089cd;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

.logo_text {
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
  color: #708696;
}

/* Кнопка "Викликати замірника" */

.header_btn {
}

.button {
  background: url(../../assets/images/header/edit.png) 1rem center no-repeat;
  color: #45a049;
  font-size: 16 px;
  font-weight: 700;
  padding: 10px 20px;
  border: 2px solid #55a831;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.header_btn:hover {
  background-color: #45a049;
}

/* Графік роботи */
.working_hours {
  display: flex;
  align-items: center;
  margin-left: 20px; /* Відступ між кнопкою та графіком роботи */
}

.working_hours_img img {
  width: 30px; /* Розмір іконки годинника */
  margin-right: 10px; /* Відступ між іконкою та текстом */
}

.working_hours p {
  margin: 0;
  font-size: 14px;
  color: #555; /* Колір тексту графіку роботи */
}

.working_hours span {
  font-weight: bold;
  color: #4caf50; /* Колір тексту для робочих годин */
}

/* Контакти */
.contact {
  display: flex;
  align-items: center;
}

.contact_us a {
  text-decoration: none;
  color: #333; /* Колір тексту контактів */
  display: flex;
  align-items: center;
  margin-right: 20px; /* Відступ між контактами та іншими елементами */
}

.contact_us img {
  width: 30px; /* Розмір іконки телефону */
  margin-right: 10px; /* Відступ між іконкою та текстом */
}

.phone_link {
  color: #4caf50; /* Колір тексту посилання "Замовити дзвінок" */
}

.phone_link:hover {
  text-decoration: underline; /* Підкреслений текст при наведенні */
}
