.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 30px 20px;
}

.logo_link {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.logo_link:hover {
  color: #0089cd;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contacts a {
  color: #fff;
}

.contacts a:hover {
  color: #0089cd;
}
