.footer {
  background-color: #333;
  color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 428px;
  margin: 0 auto;
  padding: 30px 20px;
}

.logo_link {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.logo_link:hover {
  color: #0089cd;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contacts a {
  color: #fff;
}

.contacts a:hover {
  color: #0089cd;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1160px;
  }
}
