.container {
  width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}
.wooden_title {
  font-size: 34px;
  text-align: center;
  margin-bottom: 60px;
}

.wooden_types {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 60px;
}

.types_title {
  font-size: 20px;
  margin-top: 20px;
}

.wooden_info {
  font-size: 20px;
  text-indent: 30px;
  text-align: justify;
  margin-top: 20px;
}

/* .container {
  width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}
.wooden_title {
  font-size: 34px;
  text-align: center;
  margin-bottom: 60px;
}

.wooden_types {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 60px;
}

.types_title {
  font-size: 20px;
  margin-top: 20px;
}

.wooden_info {
  font-size: 20px;
  text-indent: 30px;
  text-align: justify;
  margin-top: 20px;
} */
